<!--Template for Email verification-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
  </head>
  <body style="font-family: sans-serif; line-height: 1.5; text-align: center;">
    <h2 class="title">이메일 인증 코드</h2>
    <hr/>
    <div class="info">
      <p>안녕하세요, DiaryMoodAnalyzer 입니다.</p>
      <p>요청하신 인증 코드는 아래와 같습니다:</p>
    </div>
    <div style="font-size: 24px; font-weight: bold; color: #007BFF;">
      <span>[[${code}]]</span>
    </div>
    <p>[[${expireMin}]]분 내로 입력해주세요. 인증 요청을 하지 않으셨다면 이 메일은 무시하셔도 됩니다.</p>
    <p>[[${expireDateTime}]]에 만료됩니다.</p>
    <hr/>
    <small style="font-style: italic;">이 메일은 시스템에서 자동 발송되었습니다.</small>
  </body>
</html>