/*
전역 변수와 전역 스타일을 정의한 파일
*/

$sidebar-width: 260px;
$sidebar-trigger-attr: 'sidebar-on';

//기본 색상 팔레트
:root {
    --sidebar-background-color: #f7f7f7;
    --dropdown-active-bg: #0d6efd;
}

//다크 모드 색상 팔레트 
[data-bs-theme=dark] {
    color-scheme: dark;
    //--bs-body-bg 보다 좀 더 진하게
    --sidebar-background-color: #16181A;
    --dropdown-active-bg: #495057;
}

//메인 화면 래퍼 
#main {
    //화면 가득 채우기
    min-height: 100vh;
    background-color: var(--bs-body-bg);
    //Navbar와의 거리 유지
    margin-top: 1.0rem
}

//기본적으로 사이드바 토글 버튼은 꺼진 상태
#sidebar-toggler {
    display: none;
}

.btn {
    margin: 10px;
    width: 100%;
}

//**px 이하일 때, 적용
//화면이 작아지면 사이드 바를 접는다.
@media (max-width: 850px) {
    #sidebar {
        transition: transform .3s ease;
        transform: translateX(-$sidebar-width);
    }

    #main, #topbar {
        transition: transform .3s ease;
    }

    //사이드바 토글 버튼 등장
    #sidebar-toggler {
        display: block;
    }

    //상단 바 타이틀 제거
    #topbar-title {
        display: none;
    }

    //sidebar-on 속성이 있으면 사이드 바를 펼친다. (없으면 원상복귀 됨)
    body[sidebar-on] {
        #sidebar {
            transform: translateX(0);
        }
    
        
        #main, #topbar {
            transform: translateX($sidebar-width);
        }
    }
}

//**px 이상일 때, 적용 
//화면이 커지면 다른 요소들의 왼쪽을 사이드 바 너비 만큼 비운다.
@media (min-width: 849px) {
    #main, #topbar{
        margin-left: $sidebar-width;
    }
}




